@import "../../styles/vars";

.title-finish {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  margin-top: 101px;
}

.subtitle-finish {
  font-weight: $font-weight-bold;
  margin-bottom: 62px;
}

.completed-icon {
  margin-bottom: 142px;
}

.download-button {
  margin-bottom: 8px;
}
