$color-accent: #E4229C;
$color-accent-disabled: #6E0E57;
$color-accent-dark: #450740;

$color-border-accent: #E4229B;
$color-border-error: #CB3D40;
$color-border-white: #E8EAF2;

$color-bg-white: #E8EAF2;
$color-bg-primary: #1F002B;
$color-bg-secondary: #36173D;
$color-bg-secondary-light: #6D4376;

$color-text-white: #FFFFFF;
$color-text-main: #F2F3F5;
$color-text-secondary: #C4C8CC;
$color-text-disabled: #7C6F82;
$color-text-error: #CB3D40

