$font-family-main: 'Nunito', sans-serif;
$font-family-secondary: 'Niconne', sans-serif;

$breakpoint-mob: 576px;
$breakpoint-tablet-start: 577px;
$breakpoint-tablet-end: 768px;
$breakpoint-desktop-start: 769px;
$breakpoint-desktop-end: 1024px;

$font-size-xxsm: 13px;
$font-size-xsm: 15px;
$font-size-sm: 18px;
$font-size-md: 17px;
$font-size-lg: 28px;
$font-size-xlg: 30px;
$font-size-xxlg: 36px;
$font-size-xxxlg: 52px;


$font-weight-regular: 400;
$font-weight-semi: 500;
$font-weight-bold: 600;
$font-weight-semi-bolder: 700;
$font-weight-bolder: 800;

$line-height-xxsm: calc(16 / 13);
$line-height-xsm: calc(22 / 15);
$line-height-sm: calc(20 / 18);
$line-height-md: calc(24 / 17);
$line-height-lg: calc(34 / 28);
$line-height-xlg: calc(38 / 30);
$line-height-xxlg: calc(44 / 36);
$line-height-xxxlg: calc(62 / 52);

