@import "../../styles/vars";

.title-email {
  font-weight: $font-weight-bolder;
  margin-top: 92px;
}

.subtitle-email {
  margin-bottom: 56px;
}

.email-info {
  padding: 0 28px;
  margin-top: 56px;
  margin-bottom: 175px;
  text-align: center;

}
